<div id="container">
    <div id="txt">x</div>
</div>
<style>
#txt {
	font-size: 120pt;
	font-family: verdana;

}
#container {
    width: 800px;
    height: 300px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    background-color: white;
}
body {
	text-align: center;
	float: right;
	margin-right: 540px;
	margin-top: 200px;
}
a {
	color: white;
}
</style>
<script>
	function startTime() {
	    var today = new Date();
	    var h = today.getHours();
	    var m = today.getMinutes();
	    var s = today.getSeconds();
	    m = checkTime(m);
	    s = checkTime(s);
	    color = '#' + h + m + s;
	    changecolor(color);
	    document.getElementById('txt').innerHTML =
	    h + ":" + m + ":" + s;
	    var t = setTimeout(startTime, 500);
	}
	function checkTime(i) {
	    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
	    return i;
	}
	function changecolor (color) {
	    document.body.style.background = color;
	    
	}
	startTime();
</script>