<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="startTime()">
    <a href="/">Home</a>
    <a href="/about_us">About Us</a>
    <a href="/clock">Clock</a>
    <br>
    <br>
    <%= yield %>
  </body>
</html>